books.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT catalog (book*)>
<!ELEMENT book (author,title,genre,price,published_date,description*)>
<!ATTLIST book id CDATA #REQUIRED>
<!ELEMENT author (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT published_date (#PCDATA)>
<!ELEMENT description (#PCDATA)>
